@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
*{
    font-family: 'Gamja Flower', cursive;
}
table{
	width : 70%;
	margin : auto;
	
}
hr3{
	text-align : center;
}

th{
	text-align : center;
	color: #F9A825;
	background-color: #FFFF00;
	border-radius: 3px;
	font-size: 90%;
	width: 35%;
	
}
td {
	text-align : center;
	color: #F9A825;
	background-color: #FFFF00;
	border-radius: 3px;
}
input, textarea{
	padding: 7px;
	border: 2px solid #F9A825;
	border-radius: 4px;
	background-color: #F9A825;
	box-sizing: border-box
}
.btn{
	width: 70px;
	cursor: pointer;
}